@use 'variables' as v;
@use 'sass:color';

@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}

@mixin button(){
    background-color: v.$blue800;
    color: v.$white;
    padding: 1.1rem;
    border-radius: 10px;
    border: none;
    font-weight: v.$bold;
    font-size: 0.9rem;
    font-family: v.$fuente_principal;
    
    &:hover{
        cursor: pointer;
        background: linear-gradient(60deg, color.adjust(v.$pink, $lightness: 5%),  color.adjust(v.$red, $lightness: -3%));
    }
}
