//Tamaño Media Queries 
$desktop: 1200px;

//Fuentes
$fuente_principal: "Roboto", sans-serif;

//Colores

$red: hsl(4, 100%, 67%);
$pink: hsl(350, 85%, 64%);
$blue800: hsl(234, 29%, 20%);
$blue700: hsl(235, 18%, 26%);
$grey: hsl(0, 0%,58%);
$white: hsl(0, 0%, 100%);

//Tamaños fuente
$regular: 400;
$bold: 700;
